<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <connectionStrings>
    <add name="InfoConn" connectionString="Data Source=huyphan;Initial Catalog=InfoConnDB;Persist Security Info=True;MultipleActiveResultSets=True;User ID=sa;Password=sa123456" providerName="System.Data.SqlClient"/> 
    <add name="InfoConnDBEntities" connectionString="metadata=res://*/DBML.Info.csdl|res://*/DBML.Info.ssdl|res://*/DBML.Info.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=huyphan;initial catalog=InfoConnDB;persist security info=True;user id=sa;password=sa123456;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
 

  
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

    <!-- Begin Configs for Google Authentication-->
    <add key="InfoConn.Connector.Google.ClientIdentifier" value="595493171998.apps.googleusercontent.com"/>
    <add key="InfoConn.Connector.Google.ClientSecret" value="012GwL14s6QXoOA2HlimnRve"/>
    <add key="InfoConn.Connector.Google.AuthorizeURL" value="https://accounts.google.com/o/oauth2/auth"/>
    <add key="InfoConn.Connector.Google.AccessTokenURL" value="https://accounts.google.com/o/oauth2/token"/>
    <add key="InfoConn.Connector.Google.CallbackURL" value="http://sandbox327.vinasource.com/Home/oauth2callback"/>
    <add key="InfoConn.Connector.Google.Scope" value="https://www.google.com/calendar/feeds/"/>

    <!-- End Configs for Google Authentication-->

    <!-- Begin Configs for Facebook Authentication-->
    <!--<add key="InfoConn.Connector.Facebook.ClientIdentifier" value="164507150349457"/>
    <add key="InfoConn.Connector.Facebook.ClientSecret" value="97f26fc986a2996ed10059397e728913"/>-->
    <add key="InfoConn.Connector.Facebook.ClientIdentifier" value="166644070127392"/>
    <add key="InfoConn.Connector.Facebook.ClientSecret" value="b82e9d5b6bded3da986012f2a4ef8032"/>
    <add key="InfoConn.Connector.Facebook.AuthorizeURL" value="https://graph.facebook.com/oauth/authorize"/>
    <add key="InfoConn.Connector.Facebook.AccessTokenURL" value="https://graph.facebook.com/oauth/access_token"/>
    <add key="InfoConn.Connector.Facebook.CallbackURL" value="http://sandbox327.vinasource.com/home/fbCalendar"/>
    <add key="InfoConn.Connector.Facebook.Scope" value="user_events,create_event"/>
    <!-- End Configs for Facebook Authentication-->
    <add key="UserId" value="215"/>    
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="InfoConnSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:3679/InfoConn.asmx" binding="basicHttpBinding"
        bindingConfiguration="InfoConnSoap" contract="InfoConnServiceReference.InfoConnSoap"
        name="InfoConnSoap" />
    </client>
  </system.serviceModel>
</configuration>
