<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>        
      <add name="InfoConn" connectionString="Data Source=huyphan;Initial Catalog=InfoConnDB;Persist Security Info=True;MultipleActiveResultSets=True;User ID=sa;Password=sa123456" providerName="System.Data.SqlClient"/>
      <add name="InfoConnDBEntities" connectionString="metadata=res://*/DBML.Info.csdl|res://*/DBML.Info.ssdl|res://*/DBML.Info.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=huyphan;initial catalog=InfoConnDB;persist security info=True;user id=sa;password=sa123456;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
    <appSettings>
      <!-- Begin Configs for Google Authentication-->
      <add key="InfoConn.Connector.Google.ClientIdentifier" value="595493171998.apps.googleusercontent.com"/>
      <add key="InfoConn.Connector.Google.ClientSecret" value="012GwL14s6QXoOA2HlimnRve"/>
      <add key="InfoConn.Connector.Google.AuthorizeURL" value="https://accounts.google.com/o/oauth2/auth"/>
      <add key="InfoConn.Connector.Google.AccessTokenURL" value="https://accounts.google.com/o/oauth2/token"/>
      <add key="InfoConn.Connector.Google.CallbackURL" value="http://sandbox327.vinasource.com/home/oauth2callback"/>
      <add key="InfoConn.Connector.Google.Scope" value="https://www.google.com/calendar/feeds/ https://www.googleapis.com/auth/calendar.readonly https://www.googleapis.com/auth/calendar"/>

      <!-- End Configs for Google Authentication-->

      <!-- Begin Configs for Facebook Authentication-->
      <add key="InfoConn.Connector.Facebook.ClientIdentifier" value="166644070127392"/>
      <add key="InfoConn.Connector.Facebook.ClientSecret" value="b82e9d5b6bded3da986012f2a4ef8032"/>
      <add key="InfoConn.Connector.Facebook.AuthorizeURL" value="https://graph.facebook.com/oauth/authorize"/>
      <add key="InfoConn.Connector.Facebook.AccessTokenURL" value="https://graph.facebook.com/oauth/access_token"/>
      <add key="InfoConn.Connector.Facebook.CallbackURL" value="http://sandbox327.vinasource.com/home/fbCalendar"/>
      <add key="InfoConn.Connector.Facebook.Scope" value="user_events,create_event"/>
      <!-- End Configs for Facebook Authentication-->
        <!-- End Configs for Facebook Authentication-->
      </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
