<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>  
  <appSettings>
    
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

    <add key="ServiceTimeInterval" value="20000"/>
    <!-- Begin Configs for Google Authentication-->
    <add key="InfoConn.Connector.Google.ClientIdentifier" value="595493171998.apps.googleusercontent.com"/>
    <add key="InfoConn.Connector.Google.ClientSecret" value="012GwL14s6QXoOA2HlimnRve"/>
    <add key="InfoConn.Connector.Google.CallbackURL" value="http://sandbox327.vinasource.com/Home/oauth2callback"/>
    <add key="InfoConn.Connector.Google.Scope" value="https://www.google.com/calendar/feeds/"/>
    <!-- End Configs for Google Authentication-->

    <!-- Begin Configs for Facebook Authentication-->
    <add key="InfoConn.Connector.Facebook.ClientIdentifier" value="166644070127392"/>
    <add key="InfoConn.Connector.Facebook.ClientSecret" value="b82e9d5b6bded3da986012f2a4ef8032"/>
    <add key="InfoConn.Connector.Facebook.CallbackURL" value="http://sandbox327.vinasource.com/home/fbCalendar"/>
    <!-- End Configs for Facebook Authentication-->
    
  </appSettings>
  <connectionStrings>
    <add name="InfoConn" connectionString="Data Source=huyphan;Initial Catalog=InfoConnDB;Persist Security Info=True;User ID=sa;Password=sa123456" 
         providerName="System.Data.SqlClient"/>
    <add name="InfoConnDBEntities" connectionString="metadata=res://*/DBML.Info.csdl|res://*/DBML.Info.ssdl|res://*/DBML.Info.msl;provider=System.Data.SqlClient;
         provider connection string=&quot;data source=huyphan;initial catalog=InfoConnDB;persist security info=True;user id=sa;password=sa123456;multipleactiveresultsets=True;
         App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
